#header {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 5rem;
    font-size: 0.7rem;
    box-shadow: 0 0.05rem 0.1rem 0.02rem $Dark-Gray;
    margin-bottom: 0.1rem;

    > div{
        font-weight: 800;
        position:relative;
        width: 7rem;

        >div {
            position: absolute;
            display: flex;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            width: 100%;
            justify-content: center;

            >:first-child {
                padding: 0.3rem 0.5rem 0 0;
                font-size: 0.75rem;
            }
        }

        >div:last-child {
            display: none;
        }
    }
}