#home-content {
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: auto auto;
    background-color: $Light-Gray;

    >*:first-child {
        position: relative;
        color: $Dark-Gray;

        > input{
            outline: none;
            border: none;
            padding: 0.8rem 1.4rem;
            font-size: 0.7rem;
            width: 60%;
            box-shadow: 0.01rem 0.01rem 0.1rem 0.1rem white;
            border-radius: 0.1rem;
            -webkit-border-radius: 0.1rem;
            -moz-border-radius: 0.1rem;
            -ms-border-radius: 0.1rem;
            -o-border-radius: 0.1rem;
        }

        span {
            position: absolute;
            right: 42%;
            top: 0.6rem;
        }
    }

    >*:nth-child(2) {
        width: fit-content;
        border: none;
        justify-self: end;
        outline:none;
        padding: 0.8rem 1.4rem;
        font-size: 0.7rem;
        font-weight: 600;

        option {
            padding: 1rem 0;
        }
    }

    >*:last-child {
        grid-column: 1/3;
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-items: center;
        margin-top: 2rem;

        >*:nth-child(4n) {
            justify-self: end;
        }

        >*:nth-child(4n + 1) {
            justify-self: start;
        }
    }
}