*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    line-height: 1.5rem;
}

body,html {
    padding: 0;
    margin:0;
    overflow-x: hidden;
}

html {
    font-size: 1vw;
}



/*--------------------------------------
Mobile--------------------------------
--------------------------------------*/

@media only screen and (max-width:450px) {
    html {
        font-size: 3vw;
    }

    body {
        background-color: $Light-Gray;
    }
}